/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    text-align: center;
}
header{
    padding: 20px;
    background-color: #d4e09b;
    font-family: 'Square Peg', cursive;
}
p, li {
    line-height: 1.5em;
}

#tutorials{
    background-color: #f6f4d2;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #cbdfbd;
    padding-top: 40px;
    padding-bottom: 40px;
}

#inspiration {
    background-color: #f19c79;
    padding-top: 40px;
    padding-bottom: 40px;
}